@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  @apply overflow-x-hidden;
} */

.container-me {
  @apply max-w-full md:max-w-[90vw] xl:max-w-[80vw];
}

.hamburger-line {
  @apply h-[2px] w-[18px] sm:h-[3px] sm:w-[22px] block;
}

#hamburger > span:nth-child(1) {
  transform: translateY(-100%);
}

#hamburger > span:nth-child(2) {
  transform: translateY(100%);
}

.btn {
  @apply inline-block py-4 px-10 rounded-full cursor-pointer;
}

.transition-300ms {
  @apply transition duration-200 ease-linear;
}

#logo-text-left.desktop-bg-white {
  color: white;
}

/* burger animation */

#hamburger.burger-active > span {
  @apply bg-white;
}

#hamburger.burger-active > span:nth-child(1) {
  animation: burger-active1 1s forwards ease-in-out;
}

#hamburger.burger-active > span:nth-child(2) {
  animation: burger-active2 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(1) {
  animation: burger-deactive1 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(2) {
  animation: burger-deactive2 1s forwards ease-in-out;
}

@keyframes burger-active1 {
  0% {
    tansform: translateY(-100%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(50%) rotate(135deg);
  }
}

@keyframes burger-active2 {
  0% {
    tansform: translateY(100%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(225deg);
  }
}

@keyframes burger-deactive1 {
  0% {
    transform: translateY(50%) rotate(135deg);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    tansform: translateY(-100%);
  }
}

@keyframes burger-deactive2 {
  0% {
    transform: translateY(-50%) rotate(225deg);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    tansform: translateY(100%);
  }
}

/* heading */
.section-layout {
  @apply py-8 px-4 mb-20 -mt-20 xl:py-16;
}

.title-heading {
  @apply text-bg-h font-extrabold text-[150px] xl:text-[250px] leading-none tracking-wide;
}

.p-heading {
  @apply text-base xl:text-2xl xl:-mt-24 -mt-16 ml-2 w-1/2 leading-none;
}

/* Card carousel */

.card {
  @apply mobile:basis-[15%] flex flex-col justify-center bg-bg-h  hover:bg-black md:h-[130px] lg:h-[150px] xl:h-[175px] p-4 lg:px-6 rounded-2xl relative overflow-hidden cursor-pointer transition-300ms;
}

/* basic properties */

.card-content {
  @apply text-center md:text-left z-10 lg:mt-2;
}

.card-title {
  @apply font-bold mb-1 text-lg lg:text-xl xl:mb-2;
}

.card-text {
  @apply hidden md:block text-xs lg:text-sm lg:leading-5 pr-[30%] lg:pr-[40%];
}

.card-img {
  @apply md:absolute md:bottom-0 md:right-[5%] md:w-[45%] xl:w-[40%];
}

/* card hover */

.card:hover .card-title {
  @apply text-white md:scale-110 md:translate-x-5 transition leading-none duration-1000 ease-out;
}

.card:hover .card-text {
  @apply text-white scale-110 translate-x-5 transition duration-1000 ease-out;
}

.card:hover .card-img {
  @apply scale-110 -translate-y-2 transition duration-1000 ease-in-out;
}

/* card expand */

.card.card-expand {
  @apply basis-[31.8%];
}

.card.card-expand .card-img {
  @apply absolute w-[45%] right-0 bottom-0 -mr-3;
}

.card.card-expand .card-text {
  @apply block;
}

.card.card-expand .card-content {
  @apply text-left;
}

.card.card-expand .card-title {
  @apply text-lg mb-3;
}

.card.card-expand:hover .card-title {
  @apply mobile:scale-110 mobile:translate-x-5 transition leading-none duration-1000 ease-out;
}
