@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-me {
  @apply max-w-full md:mx-auto md:max-w-[90vw] xl:max-w-[80vw];
}

.container-me-scrollable {
  @apply xl:mx-auto xl:max-w-[80vw];
}

/* homepage --------------------------------------------------------------------------- */
.sign-in-desktop {
  @apply bg-black text-white border-2 border-white hover:bg-white hover:text-black hover:border-black;
}

.sign-in-desktop-scroll {
  @apply bg-white text-black border-2 border-black hover:bg-black hover:text-white hover:border-white;
}

.hamburger-line {
  @apply h-[2px] w-[18px] sm:h-[3px] sm:w-[22px] block;
}

#hamburger > span:nth-child(1) {
  transform: translateY(-100%);
}

#hamburger > span:nth-child(2) {
  transform: translateY(100%);
}

.btn {
  @apply inline-block rounded-full cursor-pointer;
}

.transition-300ms {
  @apply transition duration-200 ease-linear;
}

#logo-text-left.desktop-bg-white {
  color: white;
}

/* burger animation */

#hamburger.burger-active > span {
  @apply bg-white;
}

#hamburger.burger-active > span:nth-child(1) {
  animation: burger-active1 1s forwards ease-in-out;
}

#hamburger.burger-active > span:nth-child(2) {
  animation: burger-active2 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(1) {
  animation: burger-deactive1 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(2) {
  animation: burger-deactive2 1s forwards ease-in-out;
}

@keyframes burger-active1 {
  0% {
    tansform: translateY(-100%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(50%) rotate(135deg);
  }
}

@keyframes burger-active2 {
  0% {
    tansform: translateY(100%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(225deg);
  }
}

@keyframes burger-deactive1 {
  0% {
    transform: translateY(50%) rotate(135deg);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    tansform: translateY(-100%);
  }
}

@keyframes burger-deactive2 {
  0% {
    transform: translateY(-50%) rotate(225deg);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    tansform: translateY(100%);
  }
}

/* heading */
.section-layout {
  @apply py-8 md:py-16 mb-20 -mt-20 xl:py-16;
}

.title-heading {
  @apply text-bg-h font-extrabold text-[120px] xl:text-[250px] leading-none tracking-wide;
}

.p-heading {
  @apply text-base xl:text-2xl xl:-mt-24 -mt-12 ml-2 w-1/2 leading-none;
}

/* section fitur ---------------------------------------------------------------------------------------- */
/* Card carousel */

.card {
  @apply tablet:basis-[15%] flex flex-col justify-center md:justify-start xl:justify-center bg-bg-h  hover:bg-black md:h-[200px] lg:h-[150px] xl:h-[175px] p-4 md:py-2 lg:py-3 lg:px-6 xl:py-5 rounded-2xl relative overflow-hidden cursor-pointer transition-300ms;
}

/* basic properties */

.card-content {
  @apply text-center md:text-left md:ml-1 z-10 lg:mt-2;
}

.card-title {
  @apply font-bold text-base md:text-xl text-center lg:text-left sm:text-lg -ml-1 my-1 md:mt-3 sm:mb-0 sm:mt-4 md:ml-0 leading-none lg:text-xl lg:mb-2 xl:mb-2;
}

.card-text {
  @apply hidden lg:block text-xs md:text-sm lg:leading-5 pr-[30%] lg:pr-[40%];
}

.card-img {
  @apply md:absolute md:bottom-0 sm:right-[5%] md:right-[10%] lg:w-[45%] xl:w-[40%];
}

/* card hover */

.card:hover .card-title {
  @apply text-white md:scale-110 md:-translate-y-1 lg:translate-x-4 transition duration-1000 ease-out;
}

.card:hover .card-text {
  @apply text-white  md:scale-110 md:translate-x-3 lg:scale-105 lg:translate-x-2 transition duration-1000 ease-out;
}

.card:hover .card-img {
  @apply scale-110 -translate-y-2 transition duration-1000 ease-in-out;
}

/* card expand */

.card.card-expand {
  @apply tablet:basis-[31.8%] tablet:justify-center;
}

.card.card-expand .card-img {
  @apply tablet:absolute mobile:w-[45%] tablet:w-[60%] mobile:right-0 tablet:right-[5%] tablet:bottom-0 -mr-3;
}

.card.card-expand .card-text {
  @apply tablet:block mobile:pr-[35%] tablet:pr-[40%] mobile:text-sm tablet:text-base;
}

.card.card-expand .card-content {
  @apply mobile:text-left mobile:pl-2 mobile:mt-0;
}

.card.card-expand .card-title {
  @apply text-xl tablet:text-2xl tablet:mb-1 mobile:mt-0 text-left;
}

.card.card-expand:hover .card-title {
  @apply tablet:scale-110 tablet:translate-x-3 transition duration-1000 ease-out;
}

/* section paket ---------------------------------------------------------------------------------------- */
/* Card carousel */

.paket {
  @apply rounded-2xl overflow-hidden w-[100%] aspect-[2/4] 2xl:aspect-[2/3] tablet:aspect-[2/3] mobilexl:aspect-[2/4] flex flex-col border-2 border-white;
}

.paket-top {
  @apply bg-bg-h flex justify-center items-end p-8 overflow-hidden min-h-[40%] relative;
}

/* mobilexl:h-[259px] tablet:h-[300px] h-[300px] */

.paket-content {
  @apply flex flex-col justify-end items-start pr-[40%] xl:pr-[35%] md:ml-5;
}

/* pl-11 xl:pl-14 pr-[50%] md:pr-[30%] */

.paket-title {
  @apply text-4xl md:text-5xl xl:text-4xl 2xl:text-5xl mb-2;
}

.harga-coret {
  @apply block max-w-fit line-through text-base font-semibold py-1 mb-2;
}

.harga-now {
  @apply block max-w-fit text-lg mobilexl:text-lg tablet:text-xl text-white bg-black py-1 px-3 rounded-lg;
}

.paket-img {
  @apply absolute -bottom-[2%] right-[0] w-[40%] xl:w-[40%];
}

/* absolute -bottom-0 right-0 w-[40%] xl:w-[30%] */
/* mobile:w-[90%] mobilexl:w-[60%] mobilexl:-mb-20 mobile:-mb-[6.5rem] lg:-mb-16 mobilexl:mr-5 */

.paket-bottom {
  @apply bg-gray-lighter  p-8 flex flex-col justify-between min-h-[60%];
}

/* mobilexl:h-[287px] tablet:h-[350px] */

.paket-ul {
  @apply list-disc ml-6 mb-10;
}

.paket-ul > li {
  @apply mb-3 lg:mb-1 text-base md:text-xl xl:text-base 2xl:text-lg;
}

.paket-btn {
  @apply btn bg-black text-white xl:text-xl text-lg md:text-xl md:py-3 w-full py-2 text-center;
}

/* note for future me:
#nav
1. fix the client login button (js)

#section paket
1. build html
2. css styling

#section fiture
1. rapihin layout (done)
2. bikin javascript event (done)
3. tes di actual mobile device (done)

*/
