@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-me {
  @apply tw-max-w-full md:tw-mx-auto md:tw-max-w-[90vw] xl:tw-max-w-[80vw] 2xl:tw-max-w-[1300px];
}

.container-me-scrollable {
  @apply xl:tw-mx-auto xl:tw-max-w-[80vw] 2xl:tw-max-w-[1300px];
}

.container-me-nav {
  @apply tw-max-w-full lg:tw-mx-auto lg:tw-max-w-[90vw] xl:tw-max-w-[80vw] 2xl:tw-max-w-[1300px];
}

/* homepage --------------------------------------------------------------------------- */
.sign-in-desktop {
  @apply tw-bg-black tw-text-white tw-border-2 tw-border-white hover:tw-bg-white hover:tw-text-black hover:tw-border-black;
}

.sign-in-desktop-scroll {
  @apply tw-bg-white tw-text-black tw-border-2 tw-border-black hover:tw-bg-black hover:tw-text-white hover:tw-border-white;
}

.hamburger-line {
  @apply tw-h-[2px] tw-w-[18px] sm:tw-h-[3px] sm:tw-w-[22px] tw-block;
}

#hamburger > span:nth-child(1) {
  transform: translateY(-100%);
}

#hamburger > span:nth-child(2) {
  transform: translateY(100%);
}

.btn {
  @apply tw-inline-block tw-rounded-full tw-cursor-pointer;
}

.transition-300ms {
  @apply tw-transition tw-duration-200 tw-ease-linear;
}

#logo-text-left.desktop-bg-white {
  color: white;
}

/* burger animation */

#hamburger.burger-active > span {
  @apply tw-bg-white;
}

#hamburger.burger-active > span:nth-child(1) {
  animation: burger-active1 1s forwards ease-in-out;
}

#hamburger.burger-active > span:nth-child(2) {
  animation: burger-active2 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(1) {
  animation: burger-deactive1 1s forwards ease-in-out;
}

#hamburger.burger-deactive > span:nth-child(2) {
  animation: burger-deactive2 1s forwards ease-in-out;
}

@keyframes burger-active1 {
  0% {
    tansform: translateY(-100%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(50%) rotate(135deg);
  }
}

@keyframes burger-active2 {
  0% {
    tansform: translateY(100%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%) rotate(225deg);
  }
}

@keyframes burger-deactive1 {
  0% {
    transform: translateY(50%) rotate(135deg);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    tansform: translateY(-100%);
  }
}

@keyframes burger-deactive2 {
  0% {
    transform: translateY(-50%) rotate(225deg);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    tansform: translateY(100%);
  }
}

/* heading */
.section-layout {
  @apply tw-py-8 md:tw-py-16 tw-mb-20 -tw-mt-20 xl:tw-py-16;
}

.title-heading {
  @apply tw-text-heading tw-font-extrabold tw-text-[120px] xl:tw-text-[250px] tw-leading-none tw-tracking-wide;
}

.p-heading {
  @apply tw-text-base xl:tw-text-2xl xl:-tw-mt-24 -tw-mt-10 tw-ml-2 tw-w-[60%] lg:tw-w-[30%] lg:-tw-mt-14 tw-leading-none;
}

/* section fitur ---------------------------------------------------------------------------------------- */
/* Card carousel */

.card {
  @apply tablet:tw-basis-[15%] tw-flex tw-flex-col tw-justify-center md:tw-justify-start xl:tw-justify-center tw-bg-bg-h  hover:tw-bg-black md:tw-h-[200px] lg:tw-h-[150px] xl:tw-h-[175px] tw-p-4 md:tw-py-2 lg:tw-py-3 lg:tw-px-6 xl:tw-py-5 tw-rounded-2xl tw-relative tw-overflow-hidden tw-cursor-pointer transition-300ms;
}

/* basic properties */

.card-content {
  @apply tw-text-center md:tw-text-left md:tw-ml-1 tw-z-10 lg:tw-mt-2 xl:-tw-mt-10;
}

.card-title {
  @apply tw-font-bold tw-text-base md:tw-text-xl tw-text-center lg:tw-text-left sm:tw-text-lg -tw-ml-1 tw-my-1 md:tw-mt-3 sm:tw-mb-0 sm:tw-mt-4 md:tw-ml-0 tw-leading-none lg:tw-text-xl lg:tw-mb-2 xl:tw-mb-2;
}

.card-text {
  @apply tw-hidden lg:tw-block tw-text-xs md:tw-text-sm lg:tw-leading-5 tw-pr-[30%] lg:tw-pr-[40%] xl:tw-pr-[43%];
}

.card-img {
  @apply md:tw-absolute md:tw-bottom-0 sm:tw-right-[5%] md:tw-right-[10%] lg:tw-w-[45%] xl:tw-w-[40%];
}

/* card hover */

.card:hover .card-title {
  @apply tw-text-white md:tw-scale-110 md:-tw-translate-y-1 lg:tw-translate-x-4 tw-transition tw-duration-1000 tw-ease-out;
}

.card:hover .card-text {
  @apply tw-text-white  md:tw-scale-110 md:tw-translate-x-3 lg:tw-scale-105 lg:tw-translate-x-2 tw-transition tw-duration-1000 tw-ease-out;
}

.card:hover .card-img {
  @apply tw-scale-110 -tw-translate-y-2 tw-transition tw-duration-1000 tw-ease-in-out;
}

/* card expand */

.card.card-expand {
  @apply tablet:tw-basis-[31.8%] tablet:tw-justify-center;
}

.card.card-expand .card-img {
  @apply tablet:tw-absolute mobile:tw-w-[45%] tablet:tw-w-[60%] mobile:tw-right-0 tablet:tw-right-[5%] tablet:tw-bottom-0 -tw-mr-3;
}

.card.card-expand .card-text {
  @apply tablet:tw-block mobile:tw-pr-[35%] tablet:tw-pr-[40%] mobile:tw-text-sm tablet:tw-text-base;
}

.card.card-expand .card-content {
  @apply mobile:tw-text-left mobile:tw-pl-2 mobile:tw-mt-0;
}

.card.card-expand .card-title {
  @apply tw-text-xl tablet:tw-text-2xl tablet:tw-mb-1 mobile:tw-mt-0 tw-text-left;
}

.card.card-expand:hover .card-title {
  @apply tablet:tw-scale-110 tablet:tw-translate-x-3 tw-transition tw-duration-1000 tw-ease-out;
}

/* individual filter */
.filter-countdown {
  filter: drop-shadow(0px 10px 100px rgba(241, 128, 128, 0.5));
}

/* section paket ---------------------------------------------------------------------------------------- */
/* Card carousel */

.paket {
  @apply tw-rounded-2xl tw-overflow-hidden tw-w-[100%] tw-aspect-[2/4] 2xl:tw-aspect-[2/3] tablet:tw-aspect-[2/3] mobilexl:tw-aspect-[2/4] mobile:tw-aspect-[6/10] tw-flex tw-flex-col;
}

.paket-top {
  @apply tw-bg-bg-h tw-flex tw-justify-center tw-items-end tw-py-4 tw-px-8 md:tw-p-4 tw-overflow-hidden tw-min-h-[40%] tw-relative;
}

.paket-content {
  @apply tw-flex tw-flex-col tw-justify-end tw-items-start tw-pr-[42%] xl:tw-pr-[35%] md:tw-ml-5;
}

.paket-title {
  @apply tw-text-3xl md:tw-text-5xl xl:tw-text-4xl 2xl:tw-text-5xl tw-mb-2;
}

.harga-coret {
  @apply tw-block tw-max-w-fit tw-line-through tw-text-base tw-font-semibold tw-py-1 tw-mb-2;
}

.harga-now {
  @apply tw-block tw-max-w-fit tw-text-base sm:tw-text-lg md:tw-text-xl tw-text-white tw-bg-black tw-py-1 tw-px-3 tw-rounded-lg;
}

.paket-img {
  @apply tw-absolute -tw-bottom-[2%] tw-right-[0] tw-w-[40%] xl:tw-w-[40%] tw-z-10;
}

.paket-diskon {
  @apply tw-absolute -tw-top-[4%] -tw-right-[13%] md:-tw-top-[4%] md:-tw-right-[10%] xl:-tw-top-[3%] xl:-tw-right-[12%] 2xl:-tw-top-[5%] 2xl:-tw-right-[9.5%] tw-bg-diskon tw-text-white tw-pb-2 tw-py-6 tw-px-10 tw-rotate-45;
}

.paket-bottom {
  @apply tw-bg-gray-lighter tw-px-4 tw-py-4  md:tw-p-8 tw-flex tw-flex-col tw-justify-between tw-min-h-[60%];
}

.paket-ul {
  @apply tw-list-disc tw-ml-6 tw-mb-5 md:tw-mb-10;
}

.paket-ul > li {
  @apply tw-mb-px lg:tw-mb-1 tw-text-base md:tw-text-xl xl:tw-text-base 2xl:tw-text-lg;
}

.paket-btn {
  @apply btn tw-bg-black tw-text-white xl:tw-text-xl tw-text-lg md:tw-text-xl md:tw-py-3 tw-w-full tw-py-2 tw-text-center hover:tw-bg-white hover:tw-text-black tw-border-2 hover:tw-border-black transition-300ms;
}

/* section daftar ---------------------------------------------------------------------------------------- */
/* Card carousel */

.daftar-parent {
  @apply tw-w-full lg:tw-flex lg:tw-gap-x-6;
}

.daftar-parent > .daftar:nth-child(odd) {
  @apply tw-flex-row lg:tw-flex-col tablet:-tw-ml-2;
}

.daftar-parent > .daftar:nth-child(even) {
  @apply tw-flex-row-reverse lg:tw-flex-col tablet:tw-pl-[10%];
}

/* .daftar-parent > .daftar:nth-child(even) .daftar-text {
  @apply p;
} */

.daftar {
  @apply tw-flex tw-justify-start tw-items-center lg:tw-items-start tw-mb-10 xl:tw-mb-0;
}

.daftar-content {
  @apply tw-flex tw-relative;
}

.daftar-num {
  @apply tw-w-[30px] lg:tw-w-[20px]  tw-aspect-square tw-text-sm lg:tw-text-xs tw-grid tw-place-items-center tw-rounded-full tw-bg-black tw-text-white tw-absolute;
}

.daftar-text {
  @apply tw-pl-[15%] lg:tw-pl-[10%] tw-text-base xl:tw-text-xl;
}

.daftar-img {
  @apply tw-w-[30%] lg:tw-w-[45%] lg:tw-mb-5;
}

/* section contact ---------------------------------------------------------------------------------------- */
/* Card carousel */

.contact-img {
  @apply tw-w-[50%] tw-px-5 md:tw-w-[40%] xl:tw-w-[25%];
}

.contact-content {
  @apply tw-mb-5 md:tw-mb-12;
}

.contact-title {
  @apply tw-font-semibold tw-tracking-wider md:tw-text-3xl;
}

.contact-num {
  @apply tw-text-xs md:tw-text-lg;
}

/* section footer ---------------------------------------------------------------------------------------- */
/* Card carousel */

.footer-link {
  @apply tw-mb-10;
}

.footer-link > li {
  @apply tw-text-base tw-mb-2;
}

.socials {
  @apply tw-mb-3;
}

.socials i {
  @apply tw-text-xl tw-mx-2;
}

.footer-bottom {
  @apply tw-flex tw-flex-col tw-justify-center tw-items-center;
}

/* note for future me:

*/
